.Equally {
  border: 3px solid black;
  padding-left: 15px;
  margin-right: 50%;
}

.Equally input {
  margin-left: 10px;
}

.Equally p{
    margin-bottom: 10px;
}

.Equally button{
    margin-top: 40px;
    margin-bottom: 40px;
}